
    {% for transaction in transactions %}
        <div class="feed-item">
            <div class="logo">F</div>
            <div>
                <div>From: {{transaction.info}}</div>
                <div>{{transaction.type}}: {{transaction.unique_identifier}}</div>
            </div>
            <div>
                <div>
                    {% if transaction.category == 'LOAN' %}
                        <span>+</span>
                    {% else %}
                        <span>-</span>
                    {% endif %}
                    {{transaction.amount}}
                </div>
                <div>{{transaction.created}}</div>
            </div>
        </div>
    {% endfor %}

