{% extends 'base.html' %}
{% block content %}
    <div class="main-wrapper">
        <div class="left"></div>
        <div class="center">

            <div class="top-section">
                <h3>hello</h3>
                <h1>{{request.user.username}}</h1>
            </div>

            <div class="card">
                <div>Loan Balance</div>
                <div>KES {{loan}}</div>
            </div>

            <div>
                <p>Recent Transactions</p>
                <hr>
            </div>
            
            {% include 'lendtech/feed_component.html' %}
            
        </div>
        <div class="right"></div>
    </div>
    
{% endblock %}